body {
    font-size: 16px;
    color: #fff;
    background-color: #f3ebee;
    font-family: 'Oxygen', sans-serif;
  }
  
  /** HEADER **/
#header-nav {
    background-color: #accbed;
    border-radius: 0;
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #000000;
  }

  h1 {
    padding-left: 20px;
  }

  .navbar-brand h1 { /* Restaurant name */
    font-family: 'Oxygen', serif;
    color: #000000;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  .main-title{
    margin-top: 80px;
    margin-bottom: -15px;
    text-align: center;
    color: #000000;
    font-size: 35px;
    font-family: "Oxygen", cursive, sans-serif;
    font-weight: bold;
  }

  li{
    box-sizing: border-box;
    width: 100%;
  }


  .menu-item{
    padding: 0;
    margin-top: 20px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    color: black;
    display: block;
  }

  
  .menu-item:hover{
    background-color: rgba(0,0,0,0.9);
    color: rgba(0,0,0,0.4);
  }
  
  .row{
    margin: 20px;
  }
  
  .content-box{
    margin: 20px;
    width: auto;
    height: auto;
    color: black;
    background-color: rgba(0,0,0,0.2);
    font-family: "Oxygen", cursive, sans-serif;
    padding: 20px;
  }
  
  .item-name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  #top{
  }
  
